# Empty CSS file for your own CSS
.jumbotron {
    position: relative;
    background: #000 url("jumbotron-bg.png") center center;
    width: 100%;
    background-color: pink !important;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.mid-section-hdgs{
	color: green;
}